@import "../../../global.scss";

.about {
  padding: 100px;
  padding-bottom: 0;
  color: white;
  position: relative;
  @include tab {
    padding: 20px;
  }

  .abtxt {
    text-align: left;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -20px;
    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $primary;
    }
  }

  h2 {
    color: $primary;
    font-family: $popins;
  }

  h4 {
    font-family: $popins;
  }

  p {
    font-family: $popins;
    color: white;
    font-size: 20px;
    @include tab {
      font-size: 16px;
    }
  }

  a {
    text-decoration: none;
    color: $primary;
    font-family: $popins;
    font-size: 18px;
  }

  img {
    position: absolute;
    right: 0;
    bottom: -80px;
    width: 150px;
    @include tab {
      width: 100px;
      bottom: -40px;
      // display: none;
    }
  }
}
