@import "../../../global.scss";

@font-face {
  font-family: digit;
  src: url("/font/ds_digital/DS-DIGIT.TTF");
}

.airdrop {
  background-color: #000000;
  width: 100%;
  .airdropCon {
    margin: 30px;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    padding-top: 10px;
    position: relative;

    h4 {
      color: #ffc704;
      font-size: 30px;
      font-weight: 700;
      font-family: $lato;
      text-align: center;
      margin-bottom: -20px;
      @include tab {
        font-size: 14px;
      }
    }

    .timerSect {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: -50px;

      h4 {
        color: white;
      }

      .timerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 40px;
        @include tab {
          gap: 2px;
        }
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          padding: 14px;
          border-radius: 8px;
          width: 30px;
          font-size: 36px;
          font-family: digit;
          font-weight: 700;
          @include tab {
            width: 20px;
            font-size: 15px;
          }
          span {
            font-size: 12px;
            font-weight: 400;
            color: white;
            margin-top: -5px;
            @include tab {
              font-size: 10px;
            }
          }
        }
        span {
          font-size: 60px;
          color: $green;
          font-weight: 700;
          @include tab {
            font-size: 30px;
          }
        }
      }
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 400px;
      @include tab {
        width: 250px;
      }
      .col {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
          color: white;
          font-family: $popins;
          font-weight: 400;
          font-size: 18px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          @include tab {
            font-size: 12px;
          }
          .follow {
            color: $green;
            cursor: pointer;
            text-decoration: none;
            width: "auto";
            font-family: $popins;
            font-weight: 700;
          }
        }

        input {
          padding: 15px;
          border-radius: 8px;
          border: none;
          background-color: white;
          color: black;
          font-family: $popins;
          font-weight: 400;
          @include tab {
            padding: 10px;
          }
          &:focus {
            outline: none;
          }
        }
      }

      button {
        background-color: $primary;
        width: 100px;
        font-weight: 700;
        font-size: 14px;
        font-family: $popins;
        padding: 10px;
        border: none;
        border-radius: 8px;
        color: black;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
        @include tab {
          font-size: 10px;
        }
      }
    }

    .airdropDetails {
      width: 400px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tab {
        width: 230px;
      }

      h5 {
        font-family: $popins;
        font-size: 14px;
        font-weight: 400;
        span {
          a {
            font-weight: 700;
            font-style: 12px;
            font-family: $popins;
            color: #007aff;
          }
        }
      }

      p {
        color: #6b6b6b;
        font-family: $popins;
        font-weight: 500px;
        font-size: 22px;
        margin-bottom: -5px;

        span {
          color: $green;
        }
      }

      .details {
        margin-top: 40px;
        display: flex;
        gap: 55px;
        @include tab {
          gap: 10px;
        }
      }

      .det {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        h5 {
          color: $green;
          font-weight: 700;
          font-size: 30px;
          font-family: digit;
          @include tab {
            font-size: 14px;
          }

          span {
            font-family: $nunito;
            font-weight: 700;
            font-size: 18px;
            color: white;
          }
        }

        p {
          margin-top: 0;
          font-family: $inter;
          font-size: 20px;
          margin-top: -30px;
          @include tab {
            font-size: 10px;
          }
        }
      }

      button {
        background-color: $primary;
        width: 100px;
        font-weight: 700;
        font-size: 14px;
        font-family: $popins;
        padding: 10px;
        border: none;
        border-radius: 8px;
        color: black;
        cursor: pointer;
        margin-top: 50px;
        align-self: center;
        &:disabled {
          cursor: not-allowed;
        }
        @include tab {
          font-size: 10px;
        }
      }
    }

    .alertBox {
      // display: flex; /*to be remved later*/
      background-color: white;
      padding: 10px;
      color: #6b6b6b;
      position: absolute;
      box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.5);
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $popins;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 20px;
        @include tab {
          font-size: 12px;
        }
        .icon {
          cursor: pointer;
        }
      }

      hr {
        margin: 20px 0;
      }

      .content {
        font-family: $popins;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        @include tab {
          font-size: 12px;
        }
      }
    }
  }

  .team {
    padding: 0px 100px;
    @include l {
      padding: 0px 10px;
    }

    h2 {
      color: $primary;
      font-family: $popins;
    }

    p {
      font-family: $popins;
      color: white;
      font-size: 20px;
      text-align: left;
      @include tab {
        font-size: 16px;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;

      .left {
        .img {
          display: flex;
          align-items: center;
          margin-bottom: -20px;
          gap: 10px;
          img {
            width: 35px;
            cursor: pointer;
          }

          a {
            text-decoration: none;
            color: $primary;
          }
        }
      }

      .right {
        img {
          width: 50px;
          cursor: pointer;
          transform: scaleX(-1);
        }
      }
    }
  }

  .referralList {
    margin-left: 100px;
  
    p {
      font-family: $lato;
      font-weight: 700;
      font-size: 18px;
      // text-align: center;
      @include tab {
        margin-left: -80px;
      }
    }

    span {
      font-family: $lato;
      font-weight: 400;
      font-size: 20px;
      margin-left: -40px;
      @include tab {
        margin-left: -70px;
      }
    }

    .line {
      background-color: gray;
      width: 100%;
      height: 1px;
      margin-left: -80px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
